# Directorios específicos
**/webapp/META-INF/maven/

# Directorios generales
bin/
target/
.idea/
.settings/
.sonar/
classes/

# Archivos generales
Thumbs.db
*.log
*.tlog
*.tmp
*.class
*.war
*.ear
*.*~
*.iml
.project
.classpath
.checkstyle
.pmd
clean.bat
*.bak
tree.txt